/* Flight search for background */

.hotel-section {
    width: 100%;
    background-image: url('../images/hotel-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    border-radius: 0 0 0 0px;
    position: relative;
}

.hotel-section-inner {
    width: 100%;
    height: 100%;
    background-color: #0d398482;
    border-radius: 0 0 0 0;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;;
}

/* b */

.hotel-flight {
    background-color: transparent !important;
}

.hotel {
    background-color: #0d3984dc !important;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    padding: 13px 40px;
}

.hotel-visa {
    background-color: transparent !important;
}


.hotel-search-container {
    width: 100%;
    background-color: #0d3984dc;
    border-radius: 0px 30px 0px 30px;
    height: auto;
    padding: 40px
}


.hotel-departure-container {
    display: none;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin-bottom: -20px;
}

.hotel-departure {
    display: flex;
    width: 29%;
    background-color: #FF6805;
    padding-left: 10px;
    border-radius: 10px;
    align-items: center;
    gap: 20px;
    
}

.hotel-departure-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: #0d398428;
}


.hotel-departure-content label {
    color: rgb(90, 90, 90);
    font-size: 12px;
    padding-left: 10px;
}


.hotel-departure-content input {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    
}

.hotel-departure-content input:focus {
    outline: none;
}


.hotel-departure-content input::placeholder {
    font-weight: bold;
    color: #000;
}


.hotel-departure-content-Towhere{
    display: inline-block;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: #0d398428;
    cursor: pointer;
    position: relative;
    margin-bottom: -20px;
}


.hotel-departure-content-Towhere label {
    color: rgb(90, 90, 90);
    font-size: 12px;
    padding-left: 10px;
}


.hotel-departure-content-Towhere input {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 25px;
    
}

.hotel-departure-content-Towhere input:focus {
    outline: none;
}


/* .hotel-departure-content-Towhere input::placeholder {
    font-weight: bold;
    color: #000;
} */



.hotel-departure-content input[type="date"]::-webkit-calendar-picker-indicator {
    display: flex;
}



.hotel-dates {
    display: flex;
    gap: 20px;
}








/* number of passenger style =========================================================================================== */

.hotel-book-pass-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #FF6805;
}
.hotel-booking-passanegers{
    width: 23.5%;
    display:none;
    flex-direction: column;
    align-self: flex-end;
    background-color: white;
    color: rgb(72, 72, 72);
    padding: 20px;
    border-radius: 10px;
    font-size: 13px;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 20px;
    position: absolute;
    top: 480px;
    z-index: 2;
    margin-right: 82px;
}

.passenger-content-wrapper{
    display: flex; 
    width: 100%; 
    justify-content: space-between; 
    align-items: center;
}

.passenter-title{
    display: flex; 
    flex-direction: column;
}




/* flight class style */
.flight-class-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid gray;
    margin-top: 10px;
    padding-top: 10px;
}

.flight-class-wrapper span{
    color: gray;
}


.flight-class{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.flight-btn-wrapper{
    width: 300px; display:none; gap: 20px; align-self: flex-end; justify-content: end;
    border-radius: 10px;
}





@media (max-width:768px) {


    .hotel-section {
        border-radius: 0px;
    }

    .hotel-section-inner {
        border-radius: 0px;
    }


    .hotel-search-container {
        padding: 40px;
        border-radius: 0px;
    }

    .hotel-departure-container {
        flex-direction: column;

    }

    .hotel-departure {
        display: flex;
        width: 100%;
        background-color: #FF6805;
        padding-left: 10px;
        border-radius: 10px;
        align-items: center;
        gap: 10px;
    }

    .hotel-departure-content {
        width: 100%;
    }




    .hotel-book-pass-wrapper{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        border-radius: 10px;
    }
    .hotel-booking-passanegers{
        width: 100%;
        display:none;
        flex-direction: column;
        align-self: flex-end;
        background-color: white;
        color: rgb(72, 72, 72);
        padding: 20px;
        border-radius: 0px;
        font-size: 13px;  
        box-shadow: none;
        gap: 20px;
        position: relative;
        top: 0px;
        z-index: 2;
        margin-right: 0;
    }


}




.hotelvisible{
    display: flex;
}