body {
    background-color: white;

}


.navbar {
    background-color: #ffffff !important;
    height: 100px !important;
    border-bottom: 1px !important;
    border-bottom-color: rgba(128, 128, 128, 0.295) !important;
    border-bottom-style: solid !important;
}

.navbar .navbar-nav {
    text-align: center !important;
    display: flex !important;
    width: auto !important;
    background-color: white!important;
    /*Change to auto ======================================================================================*/
}



.nav-item {
    /* change to 10px;===============================================================================  */
    margin-right: 10px !important;
    color: rgb(0, 19, 66) !important;
    /* font-siz added;==================================================================================  */
    font-size: 16px;
    font-weight: 500;
}

.nav-link {
    margin-right: 15px !important;
    color: black !important;
}

/* .active {
    border-radius: 10px !important;
    border: 2px !important;
    border-color: #0D3984 !important;
    border-style: solid !important;
} */

h3 {
    color: #0D3984 !important;
    font-weight: bold;
}

.btn {
    background-color: #FF6805 !important;
    color: white !important;
}


.signin {
    color: #0D3984 !important;
    margin-right: 10px !important;
    background-color: transparent !important;
}

.signup {
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-radius: 0px;
}



/* flit-page */

/* Flight search for background */
.fligt-section {
    width: 100%;
    background-color: #0d39844a;
    background-image: url('../images/travel.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    border-radius: 0 0 0 0;
    position: relative;
}


/* Index page background */
.index-section {
    width: 100%;
    background-image: url('../images/travelunsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;

}

.index-section-overlay{
    width: 100%;
    height: 100%;
    background-color: #0d398482;
    border-radius: 0 0 0 0px;
}

.index-section-inner {
    width: 100%;
    height: 600px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.index-section-inner h4{
    font-size: 100px !important;
}


/* home about section */
.about-section{
    width: 100%;
    height: auto;
 
}

.about-section-inner{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
}

.about-section-form {
    margin-top: -100px;
    width: 50%;
    height: auto;
    display: flex;
    }

form{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    gap:20px;

}
.about-form-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.about-form-fields input {
    border: none;
    background-color: #0d39840f;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border-radius: 10px;
}


.about-form-fields input:focus {
    border: 2px solid #0D3984;
    outline: none;
}


.about-form-fields textarea{
    border: none;
    background-color: #0d39840f;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border-radius: 10px;
}


.about-form-fields textarea:focus {
    border: 2px solid #0D3984;
    outline: none;
}


.about-section-content{
    width: 50%;
    padding: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.about-section-content h1{
color: #0d3984dc;
font-weight: bold;
font-size: 50px 
}

.about-section-content p{
    color: black;
    font-size: 20px 
    }






.flight-section-inner {
    width: 100%;
    background-color: #0d398482;
    border-radius: 0 0 0 50px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* b */

.flight {
    background-color: #0d3984dc !important;
    font-weight: bold;
    border-radius: 30px 10px 0px 0px;
    padding: 13px 40px;

}

.flight-bed {
    background-color: transparent !important;
}

.flight-visa {
    background-color: transparent !important;
}


.flight-search-container {
    width: 100%;
    background-color: #0d3984dc;
    border-radius: 0px 30px 30px 30px;
    height: auto;
    padding: 40px;
}


/*flight type style  */
.flight-type-wrapper{
 display: none;
 width: 100%;
 gap: 30px;
 color: rgb(72, 72, 72);
}

.flight-type-wrapper span{
    display: flex;
    align-items: center;
    gap: 10px;
}

.flight-type-wrapper span a{
    color: rgb(72, 72, 72);
    margin-left: 10px;
    text-decoration: none;
}


.flight-wrapper{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.flight-input-wrapper{
width: 49%;
position: relative;
display: inline-block;
border-radius: 10px;
}


.round-trip{
    height:30px !important; 
    width:30px !important;}

.fa-flight-iconstyle{
    font-size:20px;
    color:red;
    position: absolute;
    right: 20px;
    top: 40px

}

.fa-flight-iconstyle2{
    font-size:20px;
    color:red;}


.flight-input-wrapper input{
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: #0d398428;
    border: none;
}

.flight-input-wrapper input:focus{
    outline: none;
}


.flight-btn-search{
    width: 200px; 
    display: flex; 
    justify-content: flex-start;
}

.taxi-btn-wrapper {display: flex; gap: 10px;align-items: center; height: 20px;
}

.taxi-btn-wrapper button{
    font-size: 20px; padding: 0px 10px; border: none; background-color: #FF6805; color: white;
    border-radius: 5px;
}

.taxi-btn-wrapper span{
    border: #D4D4D4 1px solid;
    border-radius: 5px;
    width: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ========================================================== */

@media (max-width:786px) {

    .flight-btn-search{
        width: 100%; 
        display: flex; 
        justify-content: start;
    }


 .flight-btn-search button{
    width: 100%;
 }

    .flight-wrapper{
        flex-direction: column;
        width: 100%;
    }

    .flight-input-wrapper{
        width: 100%;
    }
    
    .round-trip{
      display: none !important;}


.flight-depart-wrapper{
    flex-direction: column;
    width:100%;
    display: flex;
}
.flight-depat-wrap-content{
    width: 100% !important;
    background-color: #0D3984;
}
.flight-depat-wrap-content input{
    width: 100%;
}

.flight-depat-passanegers{
    width: 100%;
    display:flex;
    position: relative;
    top: "";
    z-index:"";
    /* top:490px; */
}


.fa-flight-iconstyle2{
    display: none;
}


.flight-depat-passanegers{
    width: 100% !important;
    display:none;
    flex-direction: column;
    align-self: center;
    background-color: white ;
    border-radius: 0px relative !important;
    color: rgb(72, 72, 72);
    position: relative !important;
    top: 0px !important;
    z-index: none !important;
    box-shadow: none !important;
    right: 20px!important;
    
}
.flight-type-wrapper{
    display: flex;
}

.flight-btn-wrapper{
    display: flex;
}

}


/* =================================================================== */

/* ======================================================================== */
.flight-depart-wrapper{
    width: 100%;
    display: none;
    gap: 20px;
}


.flight-depat-wrap-content{
    width: 36%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #0d398428;
    color: rgb(72, 72, 72);
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
   
}

.flight-depat-wrap-content p{
    font-size: 13px;
}

.flight-depat-wrap-content input{
    color: rgb(72, 72, 72);
    border: none;
    background-color: transparent;
}

.flight-depat-wrap-content input:focus{
    outline: none;
}
.flight-depat-wrap-content input::placeholder {
    font-weight: bold;
    color: rgb(72, 72, 72);
}

.flight-depat-wrap-content input[type="date"]::-webkit-calendar-picker-indicator {
    display: flex;
}



/* number of passenger style =========================================================================================== */
.flight-depat-passanegers{
    width: 25.3%;
    display:none;
    flex-direction: column;
    align-self: flex-end;
    background-color: white;
    color: rgb(72, 72, 72);
    padding: 20px;
    border-radius: 10px;
    font-size: 13px;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 20px;
    position: absolute;
    top: 490px;
    right: 245px;
    z-index: 2;
    /* top:490px; */
}

.passenger-content-wrapper{
    display: flex; 
    width: 100%; 
    justify-content: space-between; 
    align-items: center;
}

.passenter-title{
    display: flex; 
    flex-direction: column;
}


/* flight class style */
.flight-class-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid gray;
    margin-top: 10px;
    padding-top: 10px;
}

.flight-class-wrapper span{
    color: gray;
}


.flight-class{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.flight-btn-wrapper{
    width: 300px; display:none; gap: 20px; align-self: flex-end; justify-content: end;
    border-radius: 10px;
}

/* start javascrit toggle */
.bordered {
    border: 2px solid #0D3984;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 0px 15px -3px #0D3984;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

.pass-class{
    color: #0D3984;
    font-weight: bold;
}
/* end javascrit toggle */



.addandremove-button-wrapper {display: flex; gap: 10px;align-items: center; height: 20px;
}

.addandremove-button-wrapper button{
    font-size: 20px; padding: 0px 10px; border: none; background-color: #FF6805; color: white;
    border-radius: 5px;
}

.addandremove-button-wrapper span{
    font-size: 20px;
}

.dropdown-row {
    display: flex;
    width: 100%;
    gap: 10px;
}


.btn-dropdown-container {
    background-color: #FF6805 !important;
    border-radius: 10px;
    width: auto;

}


.btn-dropdown {
    background-color: #fff !important;
    color: #0D3984 !important;
    border-radius: 10px;
    border: none;
    margin-left: 8px;
    padding: 10.9px;
}



.btn-dropdown:focus {
    outline: none;
}

.btn-dropdown-passangers {
    background-color: #fff !important;
    color: #0D3984 !important;
    border-radius: 10px;
    border: none;
    margin-left: 8px;
    padding: 10px;
    height: 100%;
}







.flight-departure-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
   
}

.flight-departure {
    width: 33%;
    background-color: #FF6805;
    display: flex;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
}

.flight-departure-content {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 10px;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
}

.flight-departure-content label {
    color: grey;
    font-size: 12px;
}


.flight-departure-content input {
    border: none;
    
}

.flight-departure-content input:focus {
    outline: none;
}


.flight-departure-content input::placeholder {
    font-weight: bold;
    color: #000;
}



.flight-departure-content input[type="date"]::-webkit-calendar-picker-indicator {
    display: flex;
    width: 100%;
}



.fligt-dates {
    display: flex;
    gap: 10px;
}

.flight-departure-date {
    display: flex;
    background-color: #FF6805;
    padding-left: 10px;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
}

.flight-departure-date-content {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 10px;
    padding: 5px 10px;
    height: 100%;
}

.flight-departure-date-content label {
    color: grey;
    font-size: 12px;
}


.flight-departure-date-content input {
    border: none;
}

.flight-departure-date-content input:focus {
    outline: none;
}


.flight-departure-date-content input::placeholder {
    font-weight: bold;
    color: #000;
}



.flight-departure-date-content input[type="date"]::-webkit-calendar-picker-indicator {
    display: flex;
}

/* packages */
.package-wrapper {
    display: flex;
    gap: 20px;
}

.package {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    margin-top: 20px;
}

.package img {
    border-radius: 30px;
}


.package-dest-price {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #00000069;
    color: white;
    position: absolute;
    width: 100%;
    top: 0px;
    padding: 20px;
    display: flex;
    gap: 40px;
    justify-content: center;

}

.package-dest {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.package-price {
    display: flex;
    flex-direction: column;

}



.btn-call-to-action {
    border-radius: 10px;
    border-bottom-right-radius: 0;
    text-align: left;
    position: absolute;
    bottom: 50px;
    left: 60px;
    background-color: #ff6905e4 !important;
}



/* Tour Package SLider CSS */
.package-slider-wrapper {
    position: relative;
    margin-right: 10px;
}


.package-slider-wrapper img {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #0000005b;
    position: absolute;
    top: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.overlay-content {
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
}


.overlay-call-to-action {
    border-radius: 10px;
    border-bottom-right-radius: 0;
    text-align: left;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #ff6905e4 !important;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.overlay-loc-date {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
}

.overlay-price {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
    position: absolute;
    bottom: 20px;
    left: 20px;
}



/* <!-- Testominal Section --> */
.testimonial-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
}


.testimonial-content {
    width: 33.3%;
    background-color: #0d39840d;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}


.testimonial-content span:nth-child(1) {
    color: gray;
}


.testimonial-content span:nth-child(1) b {
    color: black
}

.testimonial-content span:nth-child(3) {
    color: rgb(58, 58, 58);
    font-weight: bold;
}



.Popular-dest-hot-wrapper {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.Popular-dest-hot-wrapper img {
    border-radius: 50px 20px;

}

.Popular-dest-hot-wrapper div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-left: 20px;
}


/* Destination section */
.destination-section {
    background-color: #0d39840d;
}


.destination-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.destiation-content {
    width: 33.3%;
}

.destiation-content ul {
    list-style: none;
}

.destiation-content ul li {
    font-size: 13px;
}


/* about footer content */
.about-footer-section {
    background-color: #D9D9D9;
}

.about-footer-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
}

.about-footer-content {
    display: flex;
    width: 33.3%;
    flex-direction: column;
    gap: 20px;
    font-size: 13px;
}

.about-footer-content span {
    display: flex;
    gap: 15px;
}

.about-footer-content span img {
    border-radius: 5px;
}

.about-footer-content h5 {
    color: #0D3984;
}

.about-footer-content ul {
    list-style: none;
    padding: 0;
}


.about-footer-content ul a {
    color: #000;
    text-decoration: none;

}



.copyright-section {
    width: 100%;
    background-color: #383838;
    color: #E9E9E9;
}


.copyright-wrapper {
    display: flex;
    width: 100%;
    padding: 10px 50px 0 0;
    font-size: 13px;
}



/* for dropdown nav menu ===============================================================================================*/

.dropdown:hover .dropdown-menu {
    display: block;
}


.dropdown-menu {
    background-color: white;
    border-top: 3px solid #FF6805;
    border-radius: 10px;
    font-size: 13.5px;
}



/* ============media query */

@media (max-width:786px) {
    .navbar {
        width: 100% !important;
        background-color: #fff !important;
    }

    /* .nav-item {
        margin-right: 0px !important;
        width: 100% !important;
        background-color: #FF6805 !important;
    } */


    .dropdown-menu {
       margin-left: 100px;
       margin-right: 100px;
       border-radius: 0;

    }
    

    .index-section-inner {
        width: 100%;
        height: 300px;
    }
    
    
    .index-section-inner h4{
        font-size: 50px !important;
    }
    


    .navbar .navbar-nav {
        width: 100% !important;
    }

    .sign-in-up {
        width: 100%;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .signup {
        width: 200px !important;
    }


    .flight-search-container {
        padding: 20px;
    }

    .fligt-section {
        border-radius: 0px;
    }


    .flight-section-inner {
            border-radius: 0px;
    }

    .flight {
        border-radius: 10px 10px 0px 0px;
    }

    .flight-search-container {
        border-radius: 0px 10px 10px 10px;
    }

    .dropdown-row {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }



    .flight-departure-container {
        flex-direction: column;
    }


    .flight-departure-content {
        width: 100%;
    }

    .fligt-dates {
        width: 100%;
        justify-content: space-between;
    }

    .flight-departure-date {
        width: 50%;
    }

    .flight-departure-date-content {
        width: 100%;
    }

    .package-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .package {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }



    .package-slider-wrapper {
        margin-right: 0px;
    }



    .testimonial-wrapper {
        flex-direction: column;
    }

    .testimonial-content {
        width: 100%;
    }


    .Popular-dest-hot-wrapper {
        margin-right: 0px;
    }

    .destination-section {
        display: none;
    }

    .about-footer-content {
        width: 100%;
    }


    .about-section-inner{
        flex-direction: column;
    }

    .about-section-form{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
        
    }

    .about-section-content{
        width: 100%;
        padding: 5px;
    
    }

    .about-section-content h1{
        font-size: 30px 
        }
        
        .about-section-content p{

            font-size: 18px 
            }

    .about-section{
        margin-top: 40px;
    }
}