/* flit-page */

/* Flight search for background */
.transfer-section {
    width: 100%;
    background-image: url('../images/cab.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    border-radius: 0 0 0 0px;
    position: relative;
}



.fa-long-arrow-right{
   color: gray;
}

.transfer-section-inner {
    width: 100%;
    height: 100%;
    background-color: #0d398482;
    border-radius: 0 0 0 0px;
    padding: 40px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* b */

.flight {
    background-color: transparent !important;
}

.flight-bed {
    background-color: transparent !important;
}

.flight-visa {
    background-color: transparent !important;
}


.transfer-search-container {
    width: 100%;
    background-color: #0d3984dc;
    border-radius: 30px;
    height: auto;
    padding: 40px
}

.car-from {
    background-color: #0d3984dc !important;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    padding: 13px 40px;
}


.car-to {
    background-color: transparent !important;
}

.car-from2 {
    background-color: transparent !important;
}

.car-to2 {
    background-color: #0d3984dc !important;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    padding: 13px 40px
}

.dropdown-row {
    display: flex;
    width: 100%;
    gap: 10px;
}


.btn-dropdown-container {
    background-color: #FF6805 !important;
    border-radius: 10px;
    width: auto;

}


.btn-dropdown {
    background-color: #fff !important;
    color: #0D3984 !important;
    border-radius: 10px;
    border: none;
    margin-left: 8px;
    padding: 10.9px;
}



.btn-dropdown:focus {
    outline: none;
}

.btn-dropdown-passangers {
    background-color: #fff !important;
    color: #0D3984 !important;
    border-radius: 10px;
    border: none;
    margin-left: 8px;
    padding: 10px;
    height: 100%;
}



.transfer-departure-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;

    font-size: 14px;
}


.transfer-from {
    width: 100%;
    display: flex;
    gap: 20px;
}

.transfer-departure {
    display: flex;
    background-color: #FF6805;
    width: 50%;
    padding-left: 10px;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
}

.transfer-departure-content {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 10px;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
}


.pickup-date-time-wrapper {
    display: flex;
    width: 100%;
    gap: 20px;

}

.pick-date {
    display: flex;
    flex-direction: column;
}


.pickup-time-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 1px solid #D4D4D4;
    padding-left: 10px;
}

.pickup-time {
    display: flex;
    flex-direction: column;
}

.transfer-departure-content label {
    color: grey;
    font-size: 12px;
}


.transfer-departure-content input {
    border: none;
}

.flight-departure-content input:focus {
    outline: none;
}


.transfer-departure-content input::placeholder {
    font-weight: bold;
    color: #000;
}



.transfer-departure-content input[type="date"]::-webkit-calendar-picker-indicator {
    display: flex;
}


/* from hotel to airport css form */
.fligt-dates {
    display: flex;
    gap: 10px;
}

.pickupIcon{
    color: gray; height:30px; width:30px;  position: absolute; right: 20px; top: 40px;
}

.pickuptoLabel{
    color: rgb(79, 79, 79); font-size: 12px; height:30px; width:auto;  position: absolute; left: 30px; top: 10px;
}


.destinationLabel{
    color: rgb(79, 79, 79); font-size: 12px; height:30px; width:auto;  position: absolute; left: 30px; top: 10px;
}


.takeOffIcon{
    color: white; height:30px; width:30px;  position: absolute; right: 20px; top: 40px;
}


.departInputWrapper{
    width: 100%; align-items: center; color: gray; display: flex; gap: 10px;  border-radius: 10px;   background-color: #0d398428;
}

.departInputWrapper input{
    width: 50%; background-color: transparent;
}


.departInputWrapper span{
    width: 50%; position: relative; background-color: transparent
}


.departInputWrapper span input{
    background-color: transparent;
}

.departInputWrapper span i{
    color: grey; height:30px; width:30px;  position: absolute; right: 20px; top: 40px;
}



.flight-input-wrapper{

}

.taxi-form{
    padding-bottom: 0px;
}
.flight-input-wrapper input{
    font-weight: bold;
}

.flight-input-wrapper label{
    color: rgb(79, 79, 79); font-size: 12px; height:30px; width:auto;  position: absolute; left: 30px; top: 10px;
}






/* number of passenger css */

.taxi-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #FF6805;
}
.taxi-passangers{
    width: 20%;
    display:none;
    flex-direction: column;
    align-self: flex-end;
    background-color: white;
    color: rgb(72, 72, 72);
    padding: 20px;
    border-radius: 10px;
    font-size: 13px;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 20px;
    position: absolute;
    top: 520px;
    z-index: 2;
    right: 423px;
    /* margin-right: 287px; */
}

.taxi-passenger-wrapper{
    display: flex; 
    width: 100%; 
    justify-content: space-between; 
    align-items: center;
}

.taxi-title{
    display: flex; 
    flex-direction: column;
}


.taxi-btn-wrapper {display: flex; gap: 10px;align-items: center; height: 20px;
}

.taxi-btn-wrapper button{
    font-size: 20px; padding: 0px 10px; border: none; background-color: #FF6805; color: white;
    border-radius: 5px; display: flex;
}

.taxi-btn-wrapper span{
    border: #D4D4D4 1px solid;
    border-radius: 5px;
    width: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}






.tobordered {
    border: 2px solid #0D3984;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 0px 15px -3px #0D3984;
}

.tohidden {
    display: none;
}

.tovisible {
    display: flex;
}


.btn-wrapper{
    width: 10%; display: flex; justify-content: flex-end;
}


.btn-wrapper button{
    width: 100%;
}
@media (max-width: 768px) {


    /* Flight search for background */
    .transfer-section {
        border-radius: 0px;
    }

    .btn-wrapper{
        width: 100%;
    }

    .transfer-section-inner {
        border-radius: 0px;
    }

    .transfer-search-container {
        
        border-radius: 0px;

    }

    .transfer-from {
        flex-direction: column;
        width: 100%;
    
    }

    .transfer-departure {
        width: 100%;
    }


    .pickup-time-wrapper {
        gap: 0px;
        padding-left: 2px;
    }

    .fa-long-arrow-right{
        display: none!important;
    }



    .taxi-passangers{
        width: 100% !important;
        display:flex;
        flex-direction: column;
        align-self: center;
        background-color: white ;
        border-radius: 0px!important;
        color: rgb(72, 72, 72);
        position: relative !important;
        top: 0px !important;
        z-index: none !important;
        box-shadow: none !important;
        right: 0px!important;
}
}