/* Visa for background */
.visa-section {
    width: 100%;
    /* background-color: #0D3984; */
    background-image: url('../images/travel.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    border-radius: 0 0 0 50px;
    position: relative;
}



.visa-section-inner {
    width: 100%;
    height: 100%;
    background-color: #0d398482;
    border-radius: 0 0 0 50px;
}

/* b */

.visa-hotel {
    background-color: transparent !important;

}

.visa-bed {
    background-color: transparent !important;
}

.visa {

    background-color: #0d3984dc !important;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    padding: 13px 40px;
}


.visa-search-container {
    width: 100%;
    background-color: #0d3984dc;
    border-radius: 0px 30px 0px 30px;
    height: auto;
    padding: 40px
}


.visa-departure-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
}

.visa-departure-wrapper{
    display: flex;
    background-color: #0d398428;
    width: 50%;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 25px;
}

.visa-departure {
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.visa-departure {
    text-decoration: none;
    color: rgb(50, 50, 50);
}



/* ============media query */

@media (max-width:768px) {

    .visa-section {
        border-radius: 0;
    }

    .visa-search-container {
        width: 100%;
        background-color: #0d3984dc;
        border-radius: 0px;
        height: auto;
        padding: 20px;
    }

    .visa-departure-container {
        flex-direction: column;
    }

    .visa-departure {
        width: 100%;
    }

    .visa-departure-wrapper{
        width: 100%;
        font-size: 18px;
    }
}